body
{
font-family: 'Calibri', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 12px;
color: rgb(0,0,0);
}
#usgscolorband {
    background: #052c49;
    height: 100px;
    width: 100%;
}
#usgsidentifier {
    height: 90px;
    float: left;
    margin-top: 10px;
    margin-left: 20px
}
#usgsidentifier img {
        height: 80px;
		width: 215px;
        border: none;
}
#usgslogo {
    width: 130px;
    float: left;
}
table.dataTable {
    border-collapse: collapse;
} 
table.dataTable tbody td:first-child {
    text-align: left;
}
table.dataTable thead th:first-child {
    text-align: left;
}
table.Editors.dataTable tbody td:first-child {
    font-weight: bold;
    text-align: left;

}
table.HandModel.dataTable tbody td:first-child {
    font-weight: bold;
    text-align: left;
    width: 150px;
}
table.HandModel.dataTable tbody td {
    text-align: left;
}
table.Editors.dataTable tbody td {
    width: 200px;
    text-align: center;
}
table.Editors.dataTable.no-footer {
    border-bottom: none;
    margin-left: 10px;
}
table.Editors.dataTable tbody td, table.Reviewers.dataTable tbody td {
    font-size: 20px;
    padding: 0px 0px;
}
table.Editors.dataTable tbody tr, table.Reviewers.dataTable tbody tr {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
table.Editors.dataTable {
    width: 650px;
}
#DataTables_Table_3 th:first-child, #DataTables_Table_4 th:first-child {
    text-align: left;
    font-weight:bold;
}
#DataTables_Table_3 th {
    text-align: center;
}
#DataTables_Table_4 th {
    text-align: left;
}
/*#DataTables_Table_3 thead, #DataTables_Table_4 thead {
    display: none;
}*/
thead {
    display: table-header-group;
}
tfoot {
    display: table-row-group;
}
tr {
    page-break-inside: avoid;
}
.pageBreak {
    margin-top:20px;
    page-break-before: always;
	clear:both
}	
table {
     width:100%;
}
tbody th {
    text-align: left;
}
.Citations tr { 
	border: none;  
}
#DataTables_Table_2, #DataTables_Table_4 {
    border: 0 !important;
}
table.HandModel.dataTable tbody td, table.Citations.dataTable tbody td {
    padding: 2px;
    font-size: 12px;
}
#sppNames {
    display: inline-block;
    margin-left: 20px;
	margin-top: 22px;
	margin-bottom: 0px;
    line-height: 10px;
    font-size: 18px;
}
#mainTitle {
    float: left;
    clear:left;    
	font-family: 'Univers Condensed';
	font-size: 42px;
    font-weight: bold;
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
    font-stretch: condensed;
    color: #072c49;
}
#comNameCP {
    float: left;
    clear:left;    
	font-weight: bold;
	font-size: 30px;
	margin-left: 40px;
	color: #072c49;
}
#sciNameCP {
    float: left;
    clear:left;    
	font-style: italic;
	font-size: 30px;
	margin-left: 40px;
}
#coverInfo {
	float:left; 
	clear:both; 
	font-size: 20px;
	margin-top: 30px;
	margin-left: 40px;
}
#comName {
	font-weight: bold;
	color: #072c49;
}
#sciName {
	font-style: italic;
}
.items {
  display: table;
  width: 100%;
  margin-left: 20px;
}
.item {
  display: table-cell;
}
hr {
    clear:both;
    margin-top:10px;
	height: 1px;
	background-color: #4a7ebb;
	border: none;
}
table.dataTable thead .sorting {
    background-image: none;
}
.center {
    padding-left: 40px !important;
}
#mapDiv {
    height: 765px; 
    width: 700px;
	float: left;
	margin-top: 5px;
	margin-left: 0px;
}
#habmap {
    height:100%;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 6px;
    font-size: 10px;
}
table.dataTable tbody td {
   text-align:center;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #111;
    padding: 5px 10px;
}
table.Citations.dataTable tbody td {
    text-align: left;
}
.infoLine {
    width: 100%;
    max-width:inherit;
}	
.regionCodes {
    float: left;
    width: 50%;
}
.downloadHint {
    float: right;
    width: 50%;
	text-align: right;
}