body
{
font-family: 'Calibri', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 12px;
color: rgb(0,0,0);
}
#usgscolorband {
    background: #052c49;
    height: 100px;
    width: 100%;
}

#usgsidentifier {
    height: 90px;
    float: left;
    margin-top: 10px;
    margin-left: 5px
}

    #usgsidentifier img {
        height: 80px;
        border: none;
    }

#usgslogo {
    width: 130px;
    float: left;
}
table.dataTable tbody td:first-child {
    text-align: left;
}
table.dataTable thead th:first-child {
    text-align: left;
}
thead {
    display: table-header-group;
}

tfoot {
    display: table-row-group;
}

tr {
    page-break-inside: avoid;
}
.pagebreak {
    margin-top:20px;
    page-break-before: always;
	clear:both
}	
		
 table {
     width:100%;
 }
tbody th {
    text-align: left;
}
.Citations tr { border: none;  }

#DataTables_Table_2 {
    border: 0 !important;
}
/*#headerinfo span {
    display:inline-block;
    margin-right: 20px;
}*/

#headerinfo h1, #sppnames {
    display: inline-block;
    margin-right: 20px;
}

#mainTitle {
    float: left;
    clear:left;    
	font-family: 'Univers Condensed';
	font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
    font-stretch: condensed;
    color: #072c49;
}
#sectionName {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
	margin-bottom: 0px;
}
#sppnames {
    float: right;
	margin-top: 0px;
	margin-bottom: 6px;
    line-height: 10px;
    font-size: 18px;
}
#comName {
	font-weight: bold;
	color: #072c49;
}
#sciName {
	font-style: italic;
}
.items {
  display: table;
  width: 100%;
  margin-left: 20px;
}
.item {
  display: table-cell;
}
hr {
    clear:both;
    margin-top:10px;
	height: 1px;
	background-color: #4a7ebb;
	border: none;
}
table.dataTable thead .sorting {
    background-image: none;
    
}
.center {
    padding-left: 40px !important;
}
#mapDiv {
    height: 765px; 
    width: 700px;
	float: left;
    margin-left: 20px;
	margin-top: 5px;
}
#habmap {
    height:100%;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 6px;
    font-size: 10px;
}
table.dataTable tbody td {
   text-align:center;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #111;
    padding: 5px 10px;
}
table.Citations.dataTable tbody td {
    text-align: left;
}
#sppinfo {
    font-size: 12px;
}
.infoline {
    width: 100%;
    max-width:inherit;
}	
.regioncodes {
    float: left;
    width: 50%;
}

.downloadhint {
    float: right;
    width: 45%;
}